#attendance .groupe th,
#attendance .groupe td {
  padding: 8px;
}

#attendance .groupe button {
  background: none;
  border: 1px solid #008ABF;
  padding: 9px;
  color: #231F20;
}

#attendance .groupe button:hover{
  transition: 0.1s ease-in;
  background-color: #008ABF;
  border: 1px solid #008ABF;
  padding: 9px;
  color: #fff;
}
