<<<<<<< HEAD
.gC_submitQuestionGroup {
	padding-bottom: 10px;
	margin-left: 355px;
}

.gC_questionContainer {
	width: 500px;
	word-wrap: break-word;
}

#gC_answer {
	width: 350px;
}

.gC_animate-show{
	position: absolute;
	width: 300px;
	z-index: 999999;
}

.gC_animate-show.ng-hide-add.ng-hide-add-active,
.gC_animate-show.ng-hide-remove.ng-hide-remove-active {
	position: absolute;
  -webkit-transition:all ease-out 0.3s;
  transition:all ease-out 0.3s;
}

.gC_animate-show.ng-hide {
	opacity:0;
	position: absolute;
}

  .axis path, .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis path{
            fill: none;
            stroke: none;
        }
        .bar {
            fill: steelblue;
        }
