<div class="accounts main col-md-12" id="accounts-course">
  <div class="page-header">
    <h2 ng-bind="course.name"></h2>
  </div>
  <p ng-show="!course.student_emails">No students.</p>
  <table
    ng-show="course.student_emails.length"
    class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Student Email</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="email in course.student_emails">
        <td ng-bind="$index + 1"></td>
        <td>
          <a
            title="Send an email to {{email}}"
            href="mailto:{{email}}"
            ng-bind="email"></a>
        </td>
        <td>
          <button
            title="Remove {{email}} from {{course.name}}"
            class="btn btn-danger btn-xs"
            ng-click="remove(email)">
            <span class="glyphicon glyphicon-remove"></span> Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <form
    name="create-form"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="add(emails)">
    <fieldset>
      <legend class="page-header">Add Students</legend>
      <p form-error="add_err" ng-if="add_err" class="alert alert-danger"></p>

      <div class="form-group">
        <label
          for="add_students_to_existing_course"
          class="col-sm-2 col-lg-1 control-label">Student Emails</label>
        <div class="col-sm-10 col-lg-11">
          <textarea
            id="add_students_to_existing_course"
            class="form-control"
            required
            ng-list
            ng-model="emails"
            placeholder="Comma-separated Student Emails"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            title="Add students to {{course.name}}"
            type="submit"
            value="Add"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-plus"></span> Add
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
