<!--- 
	Created by June Wang  
	Last Update on July 7, 2014
-->
<!-- <p ng-bind="hello"></p>
<p ng-show="testCall">Test API call was a success</p> -->

<div class="container">

<article class="content">
	<!-- The section with the quiz options -->
    <section id = "title">
	<br>
	<br>
    <h2>Write The Name of the Quiz</h2>
	 <input id="QuizName" type = "text" name = "QuizName" placeholder="Click Here to Edit" ng-model="quizlist">
	 <br>
	 <br>
	</section>

	<section id="mainQuiz">
	<!-- The the main bar where the quiz is -->
	<div id = "mainBar">

    <h2>Create Quiz: </h2>
    <h3>Question 1</h3>
	<form name="add-question" autocomplete="on" ng-submit="">
      <label>Question Worth</label>
      <input type='text' name='worth' id='worth' class='worth'>
      <p><b><label>Insert Question Below: </label></b></p>
      <h1> {{question1}}</h1>
      <input type="text" placeholder="Type your question here" required ng-model="question1">
      <p><b><label>Insert Answer Below: </label></b></p>
      	<input type='radio' name='ans' id='ans11' />	<input type='text' name='ans' id='tans11'/><br>
      	<input type='radio' name='ans' id='ans12' />	<input type='text' name='ans' id='tans12'/><br>
      	<input type='radio' name='ans' id='ans13' />	<input type='text' name='ans' id='tans13'/><br>
      	<input type='radio' name='ans' id='ans14' />	<input type='text' name='ans' id='tans14'/>
      <br>      
 	  <h3>Question 2</h3>
      <label>Question Worth</label>
      <input type='text' name='worth' id='worth' class='worth'>
      <p><b><label>Insert Question Below: </label></b></p>
      <h1> {{question2}}</h1>
      <input type="text" placeholder="Type your question here" required ng-model="question2">
      <p><b><label>Insert Answer Below: </label></b></p>
      	<input type='radio' name='ans' id='rans21' />	<input type='text' name='ans' id='tans21'/><br>
      	<input type='radio' name='ans' id='rans22' />	<input type='text' name='ans' id='tans22'/><br>
      	<input type='radio' name='ans' id='rans23' />	<input type='text' name='ans' id='tans23'/><br>
      	<input type='radio' name='ans' id='rans24' />	<input type='text' name='ans' id='tans24'/>
      <br>     
 	  <h3>Question 3</h3>
      <label>Question Worth</label>
      <input type='text' name='worth' id='worth' class='worth'>
      <p><b><label>Insert Question Below: </label></b></p>
      <h1> {{question3}}</h1>
      <input type="text" placeholder="Type your question here" required ng-model="question3">
      <p><b><label>Insert Answer Below: </label></b></p>
      	<input type='radio' name='ans' id='rans31' />	<input type='text' name='ans' id='tans31'/><br>
      	<input type='radio' name='ans' id='rans32' />	<input type='text' name='ans' id='tans32'/><br>
      	<input type='radio' name='ans' id='rans33' />	<input type='text' name='ans' id='tans33'/><br>
      	<input type='radio' name='ans' id='rans34' />	<input type='text' name='ans' id='tans34'/>
      <br>     
 	  <h3>Question 4</h3>
      <label>Question Worth</label>
      <input type='text' name='worth' id='worth' class='worth'>
      <p><b><label>Insert Question Below: </label></b></p>
      <h1> {{question4}}</h1>
      <input type="text" placeholder="Type your question here" required ng-model="question4">
      <p><b><label>Insert Answer Below: </label></b></p>
      	<input type='radio' name='ans' id='rans41' />	<input type='text' name='ans' id='tans41'/><br>
      	<input type='radio' name='ans' id='rans42' />	<input type='text' name='ans' id='tans42'/><br>
      	<input type='radio' name='ans' id='rans43' />	<input type='text' name='ans' id='tans43'/><br>
      	<input type='radio' name='ans' id='rans44' />	<input type='text' name='ans' id='tans44'/>
      <br>     
 	  <h3>Question 5</h3>
      <label>Question Worth</label>
      <input type='text' name='worth' id='worth' class='worth'>
      <p><b><label>Insert Question Below: </label></b></p>
      <h1> {{question5}}</h1>
      <input type="text" placeholder="Type your question here" required ng-model="question5">
      <p><b><label>Insert Answer Below: </label></b></p>
      	<input type='radio' name='ans' id='rans51' />	<input type='text' name='ans' id='tans51'/><br>
      	<input type='radio' name='ans' id='rans52' />	<input type='text' name='ans' id='tans52'/><br>
      	<input type='radio' name='ans' id='rans53' />	<input type='text' name='ans' id='tans53'/><br>
      	<input type='radio' name='ans' id='rans54' />	<input type='text' name='ans' id='tans54'/>
      <br>


    <br><br><br>
		<!-- Submit Button for this mess -->
		<div id = "wrapBut">
			<button type="button" class= "preview" id = "preview" onclick="testPreview()">Preview</button>
			<button type="button" name = "save" id = "save" >Save</button>
			<button type="button" name = "submit" id = "submit"  onclick="createJSON()">Submit</button>
		</div>
		</form> 
	</div>
	</section>
</article>


	<!-- The footer with nothing in it -->
  <footer id = "footer"  style="text-align:center">
  	<br>
  	<br>
    <address>
      CMPT 475 Group B&copy; 
    </address>
  </footer>

  </div>