<div class="col-md-12">
  <div class="page-header">
    <h2>
      Instructors
      <small ng-bind="course.name"></small>
    </h2>
  </div>
  <p ng-show="!instructors.length">No Instructors.</p>
  <table
    ng-show="instructors.length"
    class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Instructor Email</th>
        <th>Instructor Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="instructor in instructors">
        <td ng-bind="$index + 1"></td>
        <td>
          <a
            title="Send an email to {{instructor.email}}"
            href="mailto:{{instructor.email}}"
            ng-bind="instructor.email"></a>
        </td>
        <td ng-bind="instructor.name"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="accounts col-md-12" id="accounts-create-instructor">
  <form
    name="create-form"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="create(email)">
    <fieldset>
      <legend class="page-header">Create Instructor</legend>
      <p form-error="error" ng-if="error" class="alert alert-danger"></p>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Email</label>
        <div class="col-sm-10 col-lg-11">
          <input
            type="email"
            class="form-control"
            ng-model="email"
            placeholder="Email"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            value="Add"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-plus"></span> Create
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
