<!--- 
	Created by June Wang  
	Last Update on July 7, 2014
-->
<div ng-show="testCall">
<div class="container">

  <article class="content">
  	<h2>List of Quizzes/Worksheets</h2>
  	<div id="createBtns" style="float:right top:fixed">
	  	<button type="button" class="quizListOperation" id="addQuiz" onclick="location.href='/createquiz'">Create New Quiz</button>
	  	<button type="button" class="quizListOperation" id="addWorksheet" onclick="location.href='/createworksheet'">Create New Worksheet</button> 
	</div>

    <div class="main" data-ng-app="Quiz" ng-controller="QuizCtrl" ng-model="quizList">
    <h3>Quiz List</h3>
    <table class="table" style="margin: 2em 0em" id="quizList">
        <thead>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Updated On</th>
            <th>Created On</th>
            <th>Created By</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody ><!-- ng-repeat="quiz in quizlist" -->
        <tr ng-repeat="quiz in quizList">
            <td class="Quiz_Name"><a href="/quiz/{{quiz[0]}}"> {{quiz[1]}}</a></td>
            <td class="Quiz_Total"> {{quiz[2]}}</td>
            <td class="Quiz_UpdateOn"> {{quiz[3]}}</td>
            <td class="Quiz_CreateOn"> {{quiz[4]}}</td>
            <td class="Quiz_Options"> {{quiz[5]}}</td>
            <td><a href="#">Edit</a>
                <a href="#" data-ng-click="remove(quiz)">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

  </article>

</div></div>