	<div ng-app="GroupCApp">
		<div ng-controller="questionFormCtrl">
			<p ng-bind-html="errors" ng-show="flag" class="alert alert-danger gC_animate-show"></p>
			<p ng-bind-html="success" ng-show="sflag" class="alert alert-success gC_animate-show"></p>
            <ul class="nav nav-tabs gC_tab">
                <li ng-class="{active: tab=='addQuestion'}">
                    <a href ng-click="tab='addQuestion';">Add Questions</a>
                </li>
                <li ng-class="{active: tab=='viewQuiz'}">
                    <a href ng-click="tab='viewQuiz'; retrieveQuestions();">View Questions</a>
                </li>
                <li ng-class="{active: tab=='viewSubmission'}">
                	<a href ng-click="tab='viewSubmission';">View Submissions</a>
                </li>
            </ul>
			<!-- questionFormCtrl -->
			<div ng-show="tab=='addQuestion'">
			<toaster-container toaster-options="{'close-button':true}"></toaster-container>
				<h2>Questionaire</h2>
				<div class="gC_questionContainer">
					<ol>
						<li ng-repeat="question in questions">
							<h3>{{question.title}} <button class="btn btn-xs btn-danger" ng-click="removeQuestion(question)">Remove</button></h3>
							<ol>
								<li type="a" ng-repeat="item in question.answer">
									<span>
									{{item.ans}}
									<div ng-show="item.right" class="ng-hide glyphicon glyphicon-ok">
									</div>
									</span>
								</li>
							</ol>
						</li>
					</ol>
				</div>
				<div class="btn-group gC_submitQuestionGroup">
					<button class="btn btn-warning" ng-show="questions.length > 0" ng-click="submitQuestions($event)">
					Submit all questions</button>
				</div>
				<div>
					<form ng-submit="addQuestion()">
						<input type="text" class="form-control" ng-model="questionTitle" ng-enter="addQuestion()" placeholder="Type your question here.">
						<ol>
							<div class="input-group">
								<li type="a" ng-repeat="answer in answers">
								<div class="input-group">
										<span class="input-group-addon">
										<input type="checkbox" ng-model="answer.right" tabindex="-1"></span>	
										<input type="text" id="gC_answer" class="form-control" ng-model="answer.ans" placeholder="Type an answer here.">
										<span class="input-group-addon">
										<a href="#" ng-click="removeAnswer(answers, answer)" tabindex="-1">Remove</a>
										</span>
								</div>
								</li>
							</div>
						</ol>
						<div class="btn-group pull-right">
							<button class="btn btn-default" ng-click="addAnswer($event, answers)">Add another answer</button>
							<input class="btn btn-success" type="submit" value="Add question">
						</div>
					</form>
				</div>
			</div>
			<!-- View Quizzes -->
			<div ng-show="tab=='viewQuiz' && editableQuestion == null">
				<h2>Created Questions</h2>
				<div class="gC_questionContainer">
					<input type="search" ng-model="q" placeholder="filter by title..." />
					<ol>
						<li ng-repeat="v_question in retrievedQuestions | filter:q">
								<h3>{{v_question.title}} 
									<button ng-show="v_question.activated" class="btn btn-xs btn-primary" ng-click="deactivateQuestion(v_question)">Deactivate</button>
									<button ng-show="!v_question.activated" class="btn btn-xs btn-success" ng-click="activateQuestion(v_question)">Activate</button>
									<button class="btn btn-xs btn-info" ng-click="editQuestion(v_question)">Edit</button>
									<button class="btn btn-xs btn-info" ng-click="v_removeQuestion(v_question)">Remove</button>
								</h3>
							<ol>
								<li type="a" ng-repeat="item in v_question.answer">
									<span>
									{{item.ans}}
									<div ng-show="item.right" class="ng-hide glyphicon glyphicon-ok pull-right">
									</div>
									</span>
								</li>
							</ol>
							</li>
					</ol>
				</div>
				<!--
				<div ng-show="alteredQuestions" class="btn-group pull-right">
					<button class="btn btn-danger"  ng-click="resetQuestions($event)">Reset</button>
					<button class="btn btn-success"  ng-click="saveQuestions($event)">Save</button>
				</div> -->
		</div>
			<!-- Edit Question -->
			<div ng-show="tab=='viewQuiz' && editableQuestion != null">
				<h2>Edit Question</h2>
				<div class="gC_questionContainer">
					<form ng-submit="submitEditQuestion(editableQuestion)">
						<input type="text" class="form-control" ng-model="editableQuestion.title" placeholder="Type your question here.">
						<ol>
							<div class="input-group">
								<li type="a" ng-repeat="answer in editableQuestion.answer">
								<div class="input-group">
									<span class="input-group-addon">
									<input type="checkbox" ng-model="answer.right" tabindex="-1"></span>	
									<input type="text" id="gC_answer" class="form-control" ng-model="answer.ans" placeholder="Type an answer here.">
									<span class="input-group-addon">
									<a href="#" ng-click="removeAnswer(editableQuestion.answer, answer)" tabindex="-1">Remove</a>
									</span>
								</div>
								</li>
							</div>
						</ol>
						<div class="btn-group pull-right">
							<button class="btn btn-default" ng-click="addAnswer($event, editableQuestion.answer)">Add another answer</button>
							<button class="btn btn-default" ng-click="cancelEditQuestion()">Cancel</button>
							<input class="btn btn-success" type="submit" value="Save Changes">
						</div>
					</form>
				</div>
				<!--
				<div ng-show="alteredQuestions" class="btn-group pull-right">
					<button class="btn btn-danger"  ng-click="resetQuestions($event)">Reset</button>
					<button class="btn btn-success"  ng-click="saveQuestions($event)">Save</button>
				</div> -->
		</div>
		<div ng-show="tab=='viewSubmission'">
				<h2>{{retrievedQuestions[0].title}}</h2>
				<div class="btn-group pull-right">
					<button class="btn btn-default" ng-click="">Show Results</button>
					<input class="btn btn-success" type="submit" value="Show Names">
				</div>
		</div>
	</div>
