<div class="accounts" id="accounts-login">
  <form
    name="changePasswordForm"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="changePassword(old_password, new_password)">
    <fieldset>
      <legend class="page-header">Change Password</legend>
      <p form-error="pwd_err" ng-if="pwd_err" class="alert alert-danger"></p>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Old Password</label>
        <div class="col-sm-10 col-lg-11">
          <input
            name="old_password"
            type="password"
            class="form-control"
            ng-model="old_password"
            placeholder="Old Password"
            autofocus
            required>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">New Password</label>
        <div class="col-sm-10 col-lg-11">
          <input
            name="new_password"
            type="password"
            class="form-control"
            ng-model="new_password"
            placeholder="New Password"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            value="Save"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-ok"></span> Save
          </button>
        </div>
      </div>
    </fieldset>
  </form>
  <form
    name="setname-form"
    class="form-horizontal"
    autocomplete="on"
    ng-submit="changeName(name)">
    <fieldset>
      <legend class="page-header">Change Name</legend>
      <p form-error="name_err" ng-if="name_err" class="alert alert-danger"></p>

      <div class="form-group">
        <label class="col-sm-2 col-lg-1 control-label">Name</label>
        <div class="col-sm-10 col-lg-11">
          <input
            type="text"
            class="form-control"
            ng-model="name"
            placeholder="Name"
            required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <button
            type="submit"
            value="Save"
            class="btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-ok"></span> Save
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
